.credit-card{
    transition: .8s;

}

.credit-card:hover{
    transform: scale(1.04);
}

.social-icons{
    transition: .5s;
}

.social-icons a:hover{
    transition: .5s;
    transform: scale(1.3);
}